
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$app-theme-primary: mat-palette($mat-indigo);
$app-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$app-theme-warn: mat-palette($mat-red);

// creates default themes
$app-theme: mat-light-theme(
    $app-theme-primary,
    $app-theme-accent,
    $app-theme-warn
);
