@import '~@angular/material/theming';
@import './src/variables.scss';

@mixin app-component-theme($theme) {
  $accent: map-get($theme, accent);

  .active {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent) !important;
  }

  @media (max-width: map-get($breakpoints, sm)) {
    .content-wrapper {
      padding: 0px 10px 10px 10px;
    }
    .main-content {
      padding-top: 20px;
    }
  }
  @media (min-width: map-get($breakpoints, sm)) {
    .content-wrapper {
      width: 550px;
      margin: 0 auto;
    }
  }
  @media (min-width: map-get($breakpoints, sm)) and
        (max-width: map-get($breakpoints, lg)) {
    .content-wrapper {
      padding: 0px 0px 0px 0px;
    }
    .main-content {
      padding-top: 40px;
    }
  }
  @media (min-width: map-get($breakpoints, lg)) {
    .content-wrapper {
      padding: 0px 0px 0px 0px;
    }
    .main-content {
      padding-top: 60px;
    }
  }
  
}