@import '~@angular/material/theming';
@import './src/styles/variables.scss';

@mixin app-component-theme($theme) {
  $accent: map-get($theme, accent);

  .active {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent) !important;
  }

  .menu-item {
    margin: 0px 5px 0px 5px;

    &:first-child {
      margin: 0px 5px 0px 0px;
    }
    &:last-child {
      margin: 0px 0px 0px 5px;
    }
  }

  // Defaults for top blocs
  .content-wrapper {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .menu {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }  
  .main-content {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  // Very small screen (mobile)
  @media (max-width: map-get($breakpoints, sm)) {
    .menu {
      padding: 5px 5px 5px 5px;
    }  
    .main-content {
      padding: 5px 5px 5px 5px;
    }
  }

  // Medium and large screens (centering)
  @media (min-width: map-get($breakpoints, sm)) {
    .content-wrapper {
      width: 550px;
      margin: 0 auto;
    }
  }

  // Medium screens
  @media (min-width: map-get($breakpoints, sm)) and
         (max-width: map-get($breakpoints, lg)) {
    .menu {
      padding: 10px 10px 10px 10px;
    }  
    .main-content {
      padding: 40px 10px 10px 10px;
    }
  }

  // Large screens
  @media (min-width: map-get($breakpoints, lg)) {
    .menu {
      padding: 20px 20px 20px 20px;
    }  
    .main-content {
      padding: 60px 20px 20px 20px;
    }
  }
}