@import '~@angular/material/theming';
@import './src/styles/variables.scss';

@mixin app-component-theme($theme) {
  $accent: map-get($theme, accent);

  .active {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent) !important;
  }

  .menu-item {
    margin: 0px 5px 0px 5px;

    &:first-child {
      margin: 0px 5px 0px 0px;
    }
    &:last-child {
      margin: 0px 0px 0px 5px;
    }
  }

  // Defaults for top blocs
  .content-wrapper {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .menu {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }  
  #main-content {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  // Very small screen (mobile)
  @media (max-width: map-get($breakpoints, sm)) {
    .menu {
      padding: 5px 5px 5px 5px;
    }  
    #main-content {
      padding: 5px 5px 5px 5px;
    }
  }

  // Medium and large screens (centering)
  @media (min-width: map-get($breakpoints, sm)) {
    .content-wrapper {
      width: 550px;
      margin: 0 auto;
    }
  }

  // Medium screens
  @media (min-width: map-get($breakpoints, sm)) and
         (max-width: map-get($breakpoints, lg)) {
    .menu {
      padding: 10px 10px 10px 10px;
    }  
    #main-content {
      padding: 40px 10px 10px 10px;
    }
  }

  // Large screens
  @media (min-width: map-get($breakpoints, lg)) {
    .menu {
      padding: 20px 20px 20px 20px;
    }  
    #main-content {
      padding: 60px 20px 20px 20px;
    }
  }
}

// loader animation
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #000000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
