
<!-- List of books -->
<div  *ngIf="!(isBookSelected$ | async)">
  <div *ngFor="let book of books$ | async">
    <mat-card class="list-item" [routerLink]="book.id">{{ book.title }}</mat-card>
  </div>
</div>

<!-- A book details -->
<app-book-details *ngIf="(isBookSelected$ | async) && !(isBookBeingEdited$ | async)"
  [book]="currentBook$ | async">
</app-book-details>

<!-- Form to edit a book -->
<app-book-form *ngIf="isBookBeingEdited$ | async"
  [book]="currentBook$ | async">
</app-book-form>
